.about-me {
  min-height: 60rem;
  &__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 7rem;
    &-mini {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 5rem;
      row-gap: 2rem;
    }
  }
  &__info {
    position: relative;
    &-subtitle {
      position: relative;
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-bottom: 6px;
      padding-left: 1rem;
      padding-top: 5px;
    }
    &-title {
      font-weight: 700;
      font-size: 3.6rem;
      line-height: 6rem;
    }
    hr {
      width: 20rem;
      height: 0px;
      border: 3px solid $main-color;
      margin-bottom: 2rem;
    }
    &-text {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 2.1rem;
      margin-bottom: 4rem;
    }
  }
  &__item {
    position: relative;
    display: grid;
    grid-template-columns: 4rem;
    grid-template-rows: minmax(4rem, 4rem);
    column-gap: 2rem;
    img {
      justify-self: end;
      align-self: end;
      padding-left: 1rem;
    }
    &-title {
      align-self: center;
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 2.1rem;
    }
    &-descr {
      grid-column: 2/3;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }
}
@include div-circle;
